.dropzone {
    border: 2px dashed #0087F7;
    border-radius: 5px;
    background: white; }
.dropzone .dz-message {
    font-weight: 400; }
.dropzone .dz-message .note {
    font-size: 0.8em;
    font-weight: 200;
    display: block;
    margin-top: 1.4rem; }
table.files td {
    border-top: 1px solid #eaecef;
    line-height: 20px;
    padding: 6px 3px;
}
table.files td.icon {
    color: rgba(3,47,98,.55);
    padding-left: 10px;
    padding-right: 2px;
    width: 17px;
}
.native-js  {
    position: relative;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
}

.native-banner {
    display: flex;
    padding: 20px 20px;
    text-decoration: none;

    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
}

.native-banner .native-img {
    margin-right: 20px;
    max-height: 50px;
    line-height: 0;
}

.native-banner .native-main {
    display: flex;
    max-width: 1024px;
    margin: 0 auto;

    flex-grow: 1;
    flex-flow: row nowrap;
    align-items: center;
}

.native-banner .native-details {
    display: flex;
    margin-right: 20px;

    flex-flow: column nowrap;
}

.native-banner .native-company {
    margin-bottom: 4px;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-size: 10px;
    line-height: 1;
}

.native-banner .native-desc {
    letter-spacing: 1px;
    font-weight: 300;
    line-height: 1.4;
}

.native-banner .native-cta {
    padding: 10px 16px;
    border-radius: 3px;
    box-shadow: 0 6px 13px 0 hsla(0, 0%, 0%, .15);
    text-transform: uppercase;
    white-space: nowrap;
    letter-spacing: 1px;
    line-height: 1;
    font-weight: 400;
    font-size: 12px;
    transition: all .3s ease-in-out;
    transform: translateY(-1px);
}

.native-banner .native-cta:hover {
    box-shadow: none;
    transform: translateY(1px);
}

.native-banner:hover {
    text-decoration: none;
}

.chess-background {
    background-image: linear-gradient(45deg, #808080 25%, transparent 25%), linear-gradient(-45deg, #808080 25%, transparent 25%), linear-gradient(45deg, transparent 75%, #808080 75%), linear-gradient(-45deg, transparent 75%, #808080 75%);
    background-size: 20px 20px;
    background-position: 0 0, 0 10px, 10px -10px, -10px 0px;
}

.native-source {
    position: absolute;
    right: 0;
    bottom: 0;
    padding: 5px;
    border-top: 0;
    border-top-left-radius: 3px;
    background: repeating-linear-gradient(-45deg, transparent, transparent 5px, hsla(0, 0%, 0%, .025) 5px, hsla(0, 0%, 0%, .025) 10px) hsla(203, 11%, 95%, .4);
    color: #111;
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: .5px;
    font-weight: 600;
    font-size: 7px;
}

@media only screen and (min-width: 320px) and (max-width: 759px) {
    .native-banner,
    .native-banner .native-main {
        flex-flow: column nowrap;
    }

    .native-banner .native-img,
    .native-banner .native-details {
        margin: 0;
    }

    .native-banner .native-img {
        display: none;
    }

    .native-banner .native-company {
        letter-spacing: 1px;
    }

    .native-banner .native-details {
        text-align:  left;
        font-size: 14px;
    }

    .native-banner .native-cta {
        display: none;
    }
}
